footer{
  display: block;
  background-color: #f3f3f3;
  color: #bbb;
  text-align: center;
  padding: 8px;
  font-size: 0.8rem;
  bottom: 0;
  width: 100%;
}

footer .conduit {
  color: #5cb85c;
  font-weight: bold;
  text-decoration: none;
  font-size: 1rem;
}

footer .Thinkster {
  color: #5cb85c;
  text-decoration: none;
}

footer .conduit:hover,
footer .Thinkster:hover {
  text-decoration: underline;
  color: #3d8e3d;
}