<div class="header">
    <div class="meta">
      <img
        src="https://api.realworld.io/images/demo-avatar.png"
        alt="author image"
      />
      <div class="info">
        <a class="author">{{ article.author }}</a>
        <span class="date">{{ article.createDate | date : "MMMM d, yyyy" }}</span>
      </div>
    </div>
    <app-favorite-button [count]="article.favoriteCount"></app-favorite-button>
  </div>
  <div class="content">
    <h1>{{ article.title }}</h1>
    <p>{{ article.content }}</p>
  </div>
  <div class="footer">
    <span>Read more...</span>
    <app-tags-list className="outline" [tags]="article.tags"></app-tags-list>
  </div>