input {
   
    flex-direction: column;
    margin-bottom: 10px;
  }
  
  .text-xs-center a {
    color: #5cb85c;
    text-decoration: none;
  }
  
  .text-xs-center a:hover {
    color: #5cb85c;
    text-decoration: underline;
  }
  
  button {
   
    background-color: #5cb85c;
    color: #fff;
    border: 2px solid #5cb85c;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.25rem;
    
  }

  .button-container {
    text-align: right;
  }
  
  button:hover {
    background-color: #388e3c;
    border-color: #388e3c;
    
  }
  
  input[type="text1"],
  input[type="text2"] {
    padding: 0.75rem 1.5rem;
    font-size: 1.25rem;
    width: 480px;
    margin-bottom: 10px;
  }
  
  .container {
    text-align: center;
  }
  
  .input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .text-center {
    text-align: center;
  }