<div class="header">
  <div class="meta">
    <img 
      src="https://api.realworld.io/images/demo-avatar.png"
      alt="author image"
    />
    <div class="info">
      <a class="author">zncen</a>
      <span class="date"> January 4, 2024</span>
    </div>
  </div>
  <button type="button">38</button>
</div>
<div class="content">
  <h1>
    Ill quantify the redundant TCP bus,that should hard drive the ADP 
    bandwidth!
  </h1>
  <p>
    Aut facilis qui. Cupiditate sit ratione eum sunt rerum impedit. Qui suscipit
    debitis et et voluptates voluptatem voluptatibus. Quas voluptatum quae
    corporis corporis possimus.
  </p>
</div>
<div class="footer">
  <span>Read more...</span>
   <app-tag-list [tags]="tag"></app-tag-list>
</div>