:host{
    display: block;
    border-top: 1px solid rgb(0, 0, 0,0.1);
    padding: 1.5rem 0;
}

div.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div.meta{
    margin: 0 0 1rem;
    display: flex;
    align-items: center;
}

img{
    width: 32px;
    height: 32px;
display: inline-block;
    border-radius: 30px;
}
div.info{
    display: flex;
    flex-direction: column;
    margin-left: 5px;
}
a.author{
    color: #5cb85c;
    font-weight: 500;
    text-decoration: none;
}
span.date{
    color: #bbb;
    font-size: 0.8em;

}
button{
    border: 1px solid #5cb85c;
    border-radius: 0.2rem;
    padding: 0.25rem 0.5rem;
    color: #5cb85c;
    border-color: transparent;
    font-size: 0.875rem;
    font-weight: 500;
    cursor: pointer;
    outline: none;
    display: inline-block;
}