:host {
    display: block;
    margin-top: 1.5em;
   margin-bottom: 1.5rem;
  }
  
  .container {
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    width: 1140px;

  }
  .container > div {
    outline: solid 1px red;
  }
  
  .article-list {
    padding-left: 15px;
    padding-right: 15px;
    flex: 0 0 75%;
  }
  
  .tag-sidebar {
    padding-left: 15px;
    padding-right: 15px;
    flex: 0 0 25%;
  }