:host {
  display: block;
  margin-top: 1.5rem;
}
.article-tab {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1140px;
}
.container {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  width: 1140px;
}
.container > div {
  outline: solid 1px red;
}

.article-preview {
  padding-left: 15px;
  padding-right: 15px;
  flex: 0 0 75%;
}
.tag-sidebar {
  padding-left: 15px;
  padding-right: 15px;
  flex: 0 0 25%;
}