div.form {
    margin: 0 auto;
    width: 700px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  input,
  textarea {
    margin: 0;
    padding: 0.5rem 0.75rem;
    font-size: 1rem;
    line-height: 1.25;
    color: #55595c;
    border: 1px solid rgba(0, 0, 0, 0.15);
  }
  
  .form-input-log {
    padding: 1.75rem 1.5rem;
    font-size: 1.25rem;
    border-radius: 0.3rem;
  }
  
  div.button {
    text-align: right;
  }
  
  div.button {
    text-align: right;
  }
  
  div.button > button {
    padding: 0.75rem 1.5rem;
    font-size: 1.25rem;
    border-radius: 0.3;
    color: white;
    background: #5cb85c;
    border: 1px solid #5cb85c;
    font-weight: 400;
    line-height: 1.25;
    cursor: pointer;
  }